{% extends "sponsor-base.html" %}

{% block title %} Advertisement Management {% endblock %}
{% block active_dashboard %} {% endblock %}
{% block active_campaign %} {% endblock %}
{% block active_find %} {% endblock %}
{% block active_stats %} {% endblock %}
{% block active_logout %} {% endblock %}
{% block main_header %} {% endblock %}


{% block content %}


<div class="container-fluid">
    <h3 class="text-dark mb-4">Advertisement Management</h3>
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Campaign Budget</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>${{campaign.budget}}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Age Group</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>{{campaign.age_group}}</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-users fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1">
                                <span>Platforms</span>
                            </div>
                            <div class="text-dark fw-bold h5 mb-0">
                                {% if campaign.platform_youtube%}
                                <i class="fab fa-youtube text-danger"></i>
                                {% endif %}
                                {% if campaign.platform_instagram%}
                                <i class="fab fa-instagram text-warning"></i>
                                {% endif %}
                                {% if campaign.platform_twitter%}
                                <i class="fab fa-twitter text-info"></i>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-broadcast-tower fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-warning py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Status</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>Ongoing</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-tasks fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Campaign Details -->
    <div class="row mb-3">


        <div class="col-lg-8">
            <div class="row mb-3 ">

                <div class="col">
                    <div class="card shadow mb-3 mt-4">
                        <div class="card-header py-3">
                            <p class="text-primary m-0 fw-bold">Campaign Details</p>
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush mb-4">
                                <li class="list-group-item">Campaign Name: <span class="text-muted">{{campaign.name}}</span></li>
                                <li class="list-group-item">Target Age Group: <span class="text-muted">{{campaign.age_group}}</span></li>
                                <li class="list-group-item">Target Gender: <span class="text-muted">{{campaign.gender}}</span></li>
                                <li class="list-group-item">Campaign Price: <span class="text-muted">${{campaign.budget}}</span></li>
                                <li class="list-group-item">Platforms: <span class="text-muted">
                                    {% if campaign.platform_youtube%}
                                <i class="fab fa-youtube text-danger"></i> Youtube
                                {% endif %}
                                {% if campaign.platform_instagram%} 
                                <i class="fab fa-instagram text-warning"></i> Instagram
                                {% endif %}
                                {% if campaign.platform_twitter%}
                                <i class="fab fa-twitter text-info"></i> Twitter
                                {% endif %}
                                  
                                </span></li>
                                <li class="list-group-item">Campaign Details: <span class="text-muted">{{campaign.details}}</span></li>
                            </ul>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4">
            <div class="row mt-4 mb-3">
                <div id="campaignImagesCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/img/dogs/image2.jpeg" class="d-block w-100" alt="Campaign Image 1">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/img/dogs/image3.jpeg" class="d-block w-100" alt="Campaign Image 2">
                        </div>
                        <!-- Add more carousel items as needed -->
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#campaignImagesCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#campaignImagesCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>

    </div>


<!-- Ads -->
<div class="row">
<div class="col">
<div class="card shadow mb-3 mt-4">
<div class="card-header py-3">
<p class="text-primary m-0 fw-bold">Ads</p>
</div>
<div class="card-body">
{% for ad in campaign.ad_requests %}
<figure class="snip1527">
    <div class="image"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample23.jpg" alt="Ad Image" /></div>
    <figcaption>
        <div class="date"><span class="day">{{ ad.created_at.strftime('%d') }}</span><span class="month">{{ ad.created_at.strftime('%b') }}</span></div>
        <h3>{{ ad.ad_name }}</h3>
        <p>{{ ad.ad_description }}</p>
        <!-- Badge for ad status -->
        {% if ad.status == 'pending' %}
        <span class="badge bg-warning">Pending</span>
        {% elif ad.status == 'requested_by_influencer' or ad.status == 'requested_by_sponsor' %}
        <span class="badge bg-info">Negotiating</span>
        {% elif ad.status == 'completed' %}
        <span class="badge bg-success">Completed</span>
        {% elif ad.status == 'ongoing' %}
        <span class="badge bg-primary">Ongoing</span>
        {% endif %}
    </figcaption>
    <a href="/assigninfluencer/{{ad.id}}"></a>
</figure>
{% endfor %}
</div>
</div>
</div>
</div>


    <!-- Add new ad -->
    <div class="row">
        <div class="col-lg-8">
            <div class="card shadow mb-3 mt-4">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Add New Ad Request</p>
                </div>
                <div class="card-body">
                    <form id="newAdRequestForm" action="/addadvt/{{campaign.id}}" method="post">
                        <div class="mb-3">
                            <label class="form-label" for="adName"><strong>Ad Name</strong></label>
                            <input type="text" class="form-control" id="adName" placeholder="Enter ad name" name="ad_name">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description"><strong>Description</strong></label>
                            <textarea class="form-control" id="description" rows="3" placeholder="Enter description" name="ad_description"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="terms"><strong>Terms</strong></label>
                            <textarea class="form-control" id="terms" rows="2" placeholder="Enter terms" name="ad_terms"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="payment"><strong>Payment</strong></label>
                            <input type="number" class="form-control" id="payment" placeholder="Enter payment amount" name="ad_payment">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="platform"><strong>Platform</strong></label>
                            <select class="form-control" id="platform" name="ad_platform">
                              {% if campaign.platform_youtube %}
                                <option value="youtube">YouTube</option>
                              {% endif %}
                              {% if campaign.platform_facebook %}
                                <option value="facebook">Facebook</option>
                              {% endif %}
                              {% if campaign.platform_instagram %}
                                <option value="instagram">Instagram</option>
                              {% endif %}
                              {% if campaign.platform_twitter %}
                                <option value="twitter">Twitter</option>
                              {% endif %}
                            </select>
                          </div>


                        <div class="mb-3">
                            
                            <button type="submit" class="btn btn-primary" id="addAdRequestBtn">Create new Ad</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>




</div>




{% endblock %}