{% extends "admin-base.html" %}

{% block title %}Admin Dashboard{% endblock %}
{% block active_dashboard %} active {% endblock %}
{% block active_find %} {% endblock %}
{% block active_stats %} {% endblock %}
{% block active_logout %} {% endblock %}
{% block main_header %}Admin Dashoard{% endblock %}

{% block generate_report %}
<a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/admin/{{admin.id}}/generatereport"><i
        class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
{% endblock %}
{% block content %}

{% set bgcolor = ['primary', 'danger', 'warning', 'info','success'] %}
<!-- Ongoing Campaigns -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="text-primary fw-bold m-0">Ongoing Campaigns</h6>
    </div>
    <div class="card-body">
        {% for campaign in campaigns %}
        <div>
            <h4 class="small fw-bold">{{campaign.name}}<span class="float-end">20%</span></h4>
            <div class="progress progress-sm mb-3">
                <div class="progress-bar bg-{{bgcolor[loop.index0 % 5]}}" aria-valuenow="20" aria-valuemin="0"
                    aria-valuemax="100" style="width: 20%;"><span class="visually-hidden">20%</span>
                </div>
            </div>
        </div>

        {% endfor %}

    </div>
</div>

<!-- Ongoing Ads -->
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="text-primary fw-bold m-0">Ongoing Ads</h6>
    </div>
    <div class="card-body">
        {% for ad in ad_requests %}
        <div>
            <h4 class="small fw-bold">{{ad.ad_name}}<span class="float-end">{{ad.progress_percent}}%</span></h4>
            <div class="progress progress-sm mb-3">
                <div class="progress-bar bg-{{bgcolor[loop.index0 % 5]}}" aria-valuenow="{{ad.progress_percent}}"
                    aria-valuemin="0" aria-valuemax="100" style="width: {{ad.progress_percent}}%;"><span
                        class="visually-hidden">{{ad.progress_percent}}%</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>






<!-- Flagged Influencers-->
{% set flagged_influencers = influencers|selectattr("isflagged", "equalto", true)|list %}
<div class="row">
    <div class="col">
        <div class="card shadow mb-3 mt-4">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Flagged Influencers</p>
            </div>
            <div class="card-body">

                {% if flagged_influencers|length > 0 %}
                {% for influencer in flagged_influencers %}
                <figure class="snip1527">
                    <div class="image">
                        {% if influencer.profile_picture %}
                        <img class="rounded-circle mb-3 mt-4"
                            src="{{ url_for('static', filename='uploads/' + influencer.profile_picture) }}">
                        {% else %}
                        <img class="rounded-circle mb-3 mt-4"
                            src="{{ url_for('static', filename='img/dogs/image2.jpeg') }}">
                        {% endif %}
                    </div>
                    <figcaption>
                        <div class="date"><span class="day"><i class="fas fa-eye"></i></span><span
                                class="month">View</span>
                            <a href="/influencer/profile/{{influencer.id}}"></a>
                        </div>
                        <h3>{{ influencer.username }}</h3>
                        <p>{{ influencer.description_of_content }}</p>
                        <button class="btn btn-danger btn-sm" style="position: absolute; bottom: 10px; right: 50px;">
                            <i class="fas fa-trash"></i>
                            <a href="/admin/{{admin.id}}/delete/{{influencer.id}}"></a>
                        </button>
                        <!-- Flag/Report Button -->
                        <span class="badge bg-danger">Flagged</span>
                        <button class="btn btn-success btn-sm" style="position: absolute; bottom: 10px; right: 10px;">
                            <i class="fas fa-flag"></i>
                            <a href="/admin/{{admin.id}}/unflag/{{influencer.id}}"></a>
                        </button>
                    </figcaption>

                </figure>
                {% endfor %}
                {% else %}
                <p>No flagged influencers found.</p>
                {% endif %}

            </div>
        </div>
    </div>
</div>

<!-- Flagged Campaigns -->
{% set flagged_campaigns = campaigns|selectattr("isflagged", "equalto", true)|list %}
<div class="row">
    <div class="col">
        <div class="card shadow mb-3 mt-4">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Flagged Campaigns</p>
            </div>
            <div class="card-body">

                {% if flagged_campaigns|length > 0 %}
                {% for campaign in flagged_campaigns %}
                <figure class="snip1527">
                    <div class="image">
                        {% if campaign.image %}
                        <img class="rounded-circle mb-3 mt-4"
                            src="{{ url_for('static', filename='uploads/' + campaign.image) }}">
                        {% else %}
                        <img class="rounded-circle mb-3 mt-4"
                            src="{{ url_for('static', filename='img/dogs/image2.jpeg') }}">
                        {% endif %}
                    </div>
                    <figcaption>
                        <div class="date " style="cursor: pointer;"><span class="day"><i
                                    class="fas fa-eye"></i></span><span class="month">View</span>
                            <a data-bs-toggle="modal" data-bs-target="#flagModal{{campaign.id}}"></a>
                        </div>
                        <h3>{{ campaign.name }}</h3>
                        <p>{{ campaign.description }}</p>
                        <button class="btn btn-danger btn-sm" style="position: absolute; bottom: 10px; right: 50px;">
                            <i class="fas fa-trash"></i>
                            <a href="/admin/{{admin.id}}/delete/{{campaign.id}}"></a>
                        </button>
                        <!-- Flag/Report Button -->
                        <button class="btn btn-success btn-sm" style="position: absolute; bottom: 10px; right: 10px;">
                            <i class="fas fa-flag"></i>
                            <a href="/admin/{{admin.id}}/unflagcampaign/{{campaign.id}}"></a>
                        </button>
                    </figcaption>


                    <!-- Bootstrap Modal -->
                    <div class="modal fade" id="flagModal{{campaign.id}}" tabindex="-1" aria-labelledby="flagModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header bg-primary text-white">
                                    <h5 class="modal-title" id="campaignModalLabel">Campaign Details
                                    </h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <ul class="list-group list-group-flush mb-4">
                                        <li class="list-group-item">Campaign Name: <span
                                                class="text-muted">{{campaign.name}}</span></li>
                                        <li class="list-group-item">Target Age Group: <span
                                                class="text-muted">{{campaign.age_group}}</span>
                                        </li>
                                        <li class="list-group-item">Target Gender: <span
                                                class="text-muted">{{campaign.gender}}</span></li>
                                        <li class="list-group-item">Campaign Price: <span
                                                class="text-muted">${{campaign.budget}}</span></li>
                                        <li class="list-group-item">Platforms: <span class="text-muted">
                                                {% if campaign.platform_youtube%}
                                                <i class="fab fa-youtube text-danger"></i> Youtube
                                                {% endif %}
                                                {% if campaign.platform_instagram%}
                                                <i class="fab fa-instagram text-warning"></i>
                                                Instagram
                                                {% endif %}
                                                {% if campaign.platform_twitter%}
                                                <i class="fab fa-twitter text-info"></i> Twitter
                                                {% endif %}

                                            </span></li>
                                        <li class="list-group-item">Campaign Details: <span
                                                class="text-muted">{{campaign.details}}</span></li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </figure>
                {% endfor %}
                {% else %}
                <p>No flagged campaigns found.</p>
                {% endif %}

            </div>
        </div>
    </div>

</div>

<!-- Flagged Sponsors -->
{% set flagged_sponsors = sponsors|selectattr("isflagged", "equalto", true)|list %}
<div class="row">
    <div class="col">
        <div class="card shadow mb-3 mt-4">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">Flagged Sponsors</p>
            </div>
            <div class="card-body">

                {% if flagged_sponsors|length > 0 %}
                {% for sponsor in flagged_sponsors %}
                <figure class="snip1527">
                    <div class="image">
                        {% if sponsor.profile_picture %}
                        <img class="rounded-circle mb-3 mt-4"
                            src="{{ url_for('static', filename='uploads/' + sponsor.profile_picture) }}">
                        {% else %}
                        <img class="rounded-circle mb-3 mt-4"
                            src="{{ url_for('static', filename='img/dogs/image2.jpeg') }}">
                        {% endif %}
                    </div>
                    <figcaption>
                        <div class="date"><span class="day"><i class="fas fa-eye"></i></span><span
                                class="month">View</span>
                            <a href="/sponsor/profile/{{sponsor.id}}"></a>
                        </div>
                        <h3>{{ sponsor.username }}</h3>
                        <p>{{ sponsor.description }}</p>
                        <button class="btn btn-danger btn-sm" style="position: absolute; bottom: 10px; right: 50px;">
                            <i class="fas fa-trash"></i>
                            <a href="/admin/{{admin.id}}/delete/{{sponsor.id}}"></a>
                        </button>
                        <!-- Flag/Report Button -->
                        <button class="btn btn-success btn-sm" style="position: absolute; bottom: 10px; right: 10px;">
                            <i class="fas fa-flag"></i>
                            <a href="/admin/{{admin.id}}/unflagsponsor/{{sponsor.id}}"></a>
                        </button>
                    </figcaption>

                </figure>
                {% endfor %}
                {% else %}
                <p>No flagged sponsors found.</p>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}