{% extends "influencer-base.html" %}

{% block title %} Dashboard {% endblock %}
{% block active_dashboard %} active {% endblock %}
{% block active_campaign %} {% endblock %}
{% block active_find %} {% endblock %}
{% block active_stats %} {% endblock %}
{% block active_logout %} {% endblock %}
{% block main_header %} {% endblock %}


{% block content %}


<div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Dashboard</h3><a
            class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="#"><i
                class="fas fa-download fa-sm text-white-50"></i>&nbsp;Generate Report</a>
    </div>

    
    <div class="row">
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-primary py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span>Earnings
                                    (monthly)</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>$40,000</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-calendar fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-success py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-success fw-bold text-xs mb-1"><span>Earnings
                                    (annual)</span></div>
                            <div class="text-dark fw-bold h5 mb-0"><span>$215,000</span></div>
                        </div>
                        <div class="col-auto"><i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-info py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-info fw-bold text-xs mb-1">
                                <span>Rating</span>
                            </div>
                            <div class="row g-0 align-items-center">
                                <div class="col-auto">
                                    <div class="text-dark fw-bold h5 mb-0 me-3">
                                        <!-- Full Stars -->
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <!-- Half Star -->
                                        <i class="fas fa-star-half-alt"></i>
                                        <!-- Empty Stars -->
                                        <!-- <i class="far fa-star"></i>
                                        <i class="far fa-star"></i> -->
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-auto"><i class="fas fa-star fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xl-3 mb-4">
            <div class="card shadow border-start-warning py-2">
                <div class="card-body">
                    <div class="row align-items-center no-gutters">
                        <div class="col me-2">
                            <div class="text-uppercase text-warning fw-bold text-xs mb-1"><span>Pending
                                    Requests</span></div>
                                    {% if influencer.negotiations %}
                                    {% set negotiations = influencer.negotiations|selectattr('status',
                                    'equalto', 'reuested_by_sponsor')  | list %}
                                  
                                


                            <div class="text-dark fw-bold h5 mb-0"><span>{{negotiations | length}}</span></div>
                            {% else %}
                            <div class="text-dark fw-bold h5 mb-0"><span>0</span></div>
                            {% endif %}
                        </div>
                        <div class="col-auto"><i class="fas fa-comments fa-2x text-gray-300"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% set bgcolor = ['primary', 'danger', 'warning', 'info','success'] %}

    <div class="row">
        <div class="col">
            <!-- Active Campaigns -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">Ongoing Campaigns</h6>
                </div>
                <div class="card-body">
                    {% if influencer.ad_requests %}
                    {% for ad in influencer.ad_requests %}
                    {% if ad.status == 'ongoing' %}
                    <div>
                        <h4 class="small fw-bold">{{ad.campaign.name}}<span class="float-end">20%</span>
                        </h4>
                        <div class="progress progress-sm mb-3">
                            <div class="progress-bar bg-{{bgcolor[loop.index0 % 5]}}" aria-valuenow="20"
                                aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span
                                    class="visually-hidden">20%</span>
                            </div>
                        </div>
                    </div>


                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <p>No ongoing campaigns</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col">
            <!-- New Requests -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="text-primary fw-bold m-0">New Requests</h6>
                </div>
                <div class="card-body">
                    {% if influencer.negotiations %}
                    {% for nego in influencer.negotiations %}
                    {% if nego.status == 'requested_by_sponsor' %}
                    <div>
                        <div class="table-responsive table mt-2" id="dataTable" role="grid"
                            aria-describedby="dataTable_info">
                            <table class="table my-0" id="dataTable">
                                <thead>
                                    <tr>
                                        <th>Ad Name</th>
                                        <th>Campaign Name</th>
                                        <th>Payment</th>
                                        <th>Start date</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <tr>
                                        <td><img class="rounded-circle me-2" width="30" height="30"
                                                src="assets/img/avatars/avatar1.jpeg">{{nego.ad_request.ad_name}}</td>
                                        <td>{{nego.ad_request.campaign.name}}</td>
                                        <td>${{nego.ad_request.ad_payment}}</td>
                                        <td>{{ nego.ad_request.created_at.strftime('%Y-%m-%d') }}</td>
                                        <td>
                                            <a class="btn btn-info btn-sm" data-bs-toggle="modal" data-bs-target="#viewModal{{nego.id}}" style="color: white;"><i
                                                    class="fas fa-eye"></i></a>
                                            <a class="btn btn-success btn-sm" href="/finalnegotiation/{{nego.id}}" style="color: white;"><i
                                                    class="fas fa-check"></i></a>
                                            <a class="btn btn-danger btn-sm"  href="/cancelinfluencernegotiation/{{nego.id}}"><i
                                                    class="fas fa-trash"></i></a>
                                            <a class="btn btn-primary btn-sm" href="/negotiateinfluencer/{{nego.id}}">    <i class="fas fa-handshake"></i></a>
                                                    
                                        </td>

                                    </tr>

                                    <!-- Bootstrap Modal -->
<div class="modal fade" id="viewModal{{nego.id}}" tabindex="-1" aria-labelledby="flagModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header bg-primary text-white">
<h5 class="modal-title" id="campaignModalLabel">Ad Details</h5>
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
<ul class="list-group list-group-flush mb-4">
<li class="list-group-item">Ad Name: <span class="text-muted">{{nego.ad_request.ad_name}}</span></li>
<li class="list-group-item">Ad Description: <span class="text-muted">{{nego.ad_request.ad_description}}</span></li>
<li class="list-group-item">Ad Terms: <span class="text-muted">{{nego.ad_request.ad_terms}}</span></li>
<li class="list-group-item">Ad Payment: <span class="text-muted">${{nego.ad_request.ad_payment}}</span></li>
<li class="list-group-item">Platforms: <span class="text-muted">
    {% if nego.ad_request.ad_platform == 'youtube' %}
<i class="fab fa-youtube text-danger"></i> Youtube
{% endif %}
{% if nego.ad_request.ad_platform == 'instagram' %} 
<i class="fab fa-instagram text-warning"></i> Instagram
{% endif %}
{% if nego.ad_request.ad_platform == 'twitter' %}
<i class="fab fa-twitter text-info"></i> Twitter
{% endif %}
  
</span></li>
</ul>
</div>
<div class="modal-footer">
<a class="btn btn-success btn-sm" href="/finalnegotiation/{{nego.id}}" style="color: white;"><i
class="fas fa-check"></i> Accept</a>
<a class="btn btn-danger btn-sm"  href="/cancelinfluencernegotiation/{{nego.id}}"><i
class="fas fa-trash"></i> Reject</a>
<a class="btn btn-primary btn-sm" href="/negotiateinfluencer/{{nego.id}}">    <i class="fas fa-handshake"></i> Negotiate</a>
<button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>





                                </tbody>

                            </table>


                        </div>
                    </div>
                   

                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <p>No new requests</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}