{% extends "admin-base.html" %}

{% block title %}Find Campaigns and Influencers{% endblock %}
{% block active_dashboard %} {% endblock %}
{% block active_find %} active {% endblock %}
{% block active_stats %} {% endblock %}
{% block active_logout %} {% endblock %}
{% block main_header %}Find Campaigns and Influencers Dashoard{% endblock %}
{% block content %}


<div>
    <!--Campaigns-->

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {{ messages[-1] }}
    {% endif %}
    {% endwith %}

    <div class="card shadow mb-5">
        <div class="card-header py-3">
            <p class="text-primary m-0 fw-bold">Campaigns</p>
        </div>

        <div class="card-listings">
            {% if campaigns | length > 0 %}
            {% for campaign in campaigns %}

            <div class="campaign-card card">
                <div class="card-header">
                    <div class="company-info">
                        {% if campaign.sponsor.company_logo %}
                        <img src="{{ url_for('static', filename='uploads/' + campaign.sponsor.company_logo) }}"
                            alt="Company Logo">
                        {% else %}
                        <img src="{{ url_for('static', filename='img/avatars/avatar5.jpeg') }}" alt="Company Logo">
                        {% endif %}
                        <div>
                            <strong>{{campaign.name}}</strong><br>
                            <small class="text-muted">{{campaign.sponsor.username}}e</small>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <img src="{{ url_for('static', filename='uploads/OIP.jpeg') }}" alt="Campaign Image">
                </div>
                <div class="card-footer">
                    <div class="price-tag">${{campaign.budget}}</div>
                    <div class="campaign-details">
                        {{campaign.details}}
                    </div>
                    {% if campaign.isflagged %}
                    <span class="badge bg-danger">Flagged</span>
                    {% else %}
                    <a href="/admin/{{admin.id}}/flagcampaign/{{campaign.id}}"
                        class="btn btn-warning request-button text-white">
                        <i class="fas fa-flag"></i> Flag

                    </a>
                    {% endif %}
                    <button class="btn btn-success request-button text-white">
                        <i class="fas fa-eye"></i> View
                    </button>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p>No campaigns found.</p>
            {% endif %}




        </div>



    </div>



    <!-- Influencers-->
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3 mt-4">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Influencers</p>
                </div>
                <div class="card-body">
                    {% if influencers|length > 0 %}
                    {% for influencer in influencers %}
                    <figure class="snip1527">
                        <div class="image">
                            {% if influencer.profile_picture %}
                            <img class="rounded-circle mb-3 mt-4"
                                src="{{ url_for('static', filename='uploads/' + influencer.profile_picture) }}">
                            {% else %}
                            <img class="rounded-circle mb-3 mt-4"
                                src="{{ url_for('static', filename='img/dogs/image2.jpeg') }}">
                            {% endif %}
                        </div>
                        <figcaption>
                            <div class="date"><span class="day"><i class="fas fa-eye"></i></span><span
                                    class="month">View</span>
                                <a href="/influencer/profile/{{influencer.id}}"></a>
                            </div>
                            <h3>{{ influencer.username }}</h3>
                            <p>{{ influencer.description_of_content }}</p>

                            <!-- Flag/Report Button -->
                            {% if influencer.isflagged %}
                            <span class="badge bg-danger">Flagged</span>
                            {% else %}
                            <button class="btn btn-danger btn-sm"
                                style="position: absolute; bottom: 10px; right: 10px;">
                                <i class="fas fa-flag"></i>
                                <a href="/admin/{{admin.id}}/flag/{{influencer.id}}"></a>
                            </button>
                            {% endif %}
                        </figcaption>

                    </figure>
                    {% endfor %}
                    {% else %}
                    <p>No influencers found.</p>
                    {% endif %}
                    <figure class="snip1527">
                        <div class="image"><img
                                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample25.jpg"
                                alt="pr-sample25" /></div>
                        <figcaption>
                            <div class="date"><span class="day">01</span><span class="month">Dec</span>
                            </div>
                            <h3>Down with this sort of thing</h3>
                            <p>

                                I don't need to compromise my principles, because they don't have
                                the
                                slightest bearing on
                                what happens to me anyway.
                            </p>
                        </figcaption>
                        <a href="#"></a>
                    </figure>

                </div>
            </div>
        </div>
    </div>
    {% set unflagged_influencers = influencers|selectattr("isflagged", "equalto", false)|list %}
    {% set flagged_influencers = influencers|selectattr("isflagged", "equalto", true)|list %}
</div>
{% endblock %}