{% extends "influencer-base.html" %}

{% block title %} Find Campaigns {% endblock %}
{% block active_dashboard %} {% endblock %}
{% block active_campaign %} {% endblock %}
{% block active_find %} active {% endblock %}
{% block active_stats %} {% endblock %}
{% block active_logout %} {% endblock %}
{% block main_header %} {% endblock %}


{% block content %}


<div class="container-fluid">
    <h3 class="text-dark mb-4">Find Campaigns</h3>
        <!-- New Requests -->

        <div class="card shadow mb-5">
            <div class="card-header py-3">
                <p class="text-primary m-0 fw-bold">New Requests</p>
            </div>

            <div class="card-listings">
                {% if campaigns %}
                {% for campaign in campaigns %}
                <div class="campaign-card card"  style="cursor: pointer;">
                    <div class="card-header">
                        <div class="company-info" onclick="window.location.href= '/sponsor/{{campaign.sponsor.id}}/profile'">
                            {% if campaign.sponsor.company_logo %}
                            <img src="{{ url_for('static', filename='uploads/' + campaign.sponsor.company_logo) }}"
                                alt="Company Logo">
                            {% else %}
                            <img src="{{ url_for('static', filename='img/dogs/image2.jpeg') }}" alt="Company Logo">
                            {% endif %}
                            
                            <div>
                                <strong>{{campaign.name}}</strong><br>
                                <small class="text-muted">{{campaign.sponsor.username}}</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body" onclick="window.location.href='/influencer/{{influencer.id}}/viewads/{{campaign.id}}' ">
                        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample23.jpg" alt="Campaign Image">
                    </div>
                    <div class="card-footer">
                        <div class="price-tag">{{campaign.budget}}</div>
                        <div class="campaign-details">
                            {{campaign.details}}
                        </div>
                        <!-- <a href="/" class="btn btn-primary request-button">Request</a> -->
                    </div>
                    
                </div>
                {% endfor %}
                {% else %}
                <p>No new requests</p>
                {% endif %}
<!--                 

                


                <div class="campaign-card card">
                    <div class="card-header">
                        <div class="company-info">
                            <img src="assets/img/avatars/avatar5.jpeg" alt="Company Logo">
                            <div>
                                <strong>CompanyName</strong><br>
                                <small class="text-muted">CampaignName</small>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <img src="/assets/img/dogs/campaign.jpeg" alt="Campaign Image">
                    </div>
                    <div class="card-footer">
                        <div class="price-tag">$550</div>
                        <div class="campaign-details">
                            Campaign details go here, describing the campaign, its goals, and any other
                            relevant information.
                        </div>
                        <button class="btn btn-primary request-button">Request</button>
                    </div>
                </div>


                <div class="campaign-card card">
                    <div class="card-header">
                        <div class="company-info">
                            <img src="assets/img/avatars/avatar5.jpeg" alt="Company Logo">
                            <div>
                                <strong>CompanyName</strong><br>
                                <small class="text-muted">CampaignName</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src="/assets/img/dogs/campaign.jpeg" alt="Campaign Image">
                    </div>
                    <div class="card-footer">
                        <div class="price-tag">$200</div>
                        <div class="campaign-details">
                            Campaign details go here, describing the campaign, its goals, and any other
                            relevant information.
                        </div>
                        <button class="btn btn-primary request-button">Request</button>
                    </div>
                </div>


                <div class="campaign-card card">
                    <div class="card-header">
                        <div class="company-info">
                            <img src="assets/img/avatars/avatar5.jpeg" alt="Company Logo">
                            <div>
                                <strong>CompanyName</strong><br>
                                <small class="text-muted">CampaignName</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src="/assets/img/dogs/campaign.jpeg" alt="Campaign Image">
                    </div>
                    <div class="card-footer">
                        <div class="price-tag">$550</div>
                        <div class="campaign-details">
                            Campaign details go here, describing the campaign, its goals, and any other
                            relevant information.
                        </div>
                        <button class="btn btn-primary request-button">Request</button>
                    </div>
                </div>


                <div class="campaign-card card">
                    <div class="card-header">
                        <div class="company-info">
                            <img src="assets/img/avatars/avatar5.jpeg" alt="Company Logo">
                            <div>
                                <strong>CompanyName</strong><br>
                                <small class="text-muted">CampaignName</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src="/assets/img/dogs/campaign.jpeg" alt="Campaign Image">
                    </div>
                    <div class="card-footer">
                        <div class="price-tag">$200</div>
                        <div class="campaign-details">
                            Campaign details go here, describing the campaign, its goals, and any other
                            relevant information.
                        </div>
                        <button class="btn btn-primary request-button">Request</button>
                    </div>
                </div>


                <div class="campaign-card card">
                    <div class="card-header">
                        <div class="company-info">
                            <img src="assets/img/avatars/avatar5.jpeg" alt="Company Logo">
                            <div>
                                <strong>CompanyName</strong><br>
                                <small class="text-muted">CampaignName</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src="/assets/img/dogs/campaign.jpeg" alt="Campaign Image">
                    </div>
                    <div class="card-footer">
                        <div class="price-tag">$550</div>
                        <div class="campaign-details">
                            Campaign details go here, describing the campaign, its goals, and any other
                            relevant information.
                        </div>
                        <button class="btn btn-primary request-button">Request</button>
                    </div>
                </div>


                <div class="campaign-card card">
                    <div class="card-header">
                        <div class="company-info">
                            <img src="assets/img/avatars/avatar5.jpeg" alt="Company Logo">
                            <div>
                                <strong>CompanyName</strong><br>
                                <small class="text-muted">CampaignName</small>
                            </div>
                        </div>

                    </div>
                    <div class="card-body">
                        <img src="/assets/img/dogs/campaign.jpeg" alt="Campaign Image">
                    </div>
                    <div class="card-footer">
                        <div class="price-tag">$200</div>
                        <div class="campaign-details">
                            Campaign details go here, describing the campaign, its goals, and any other
                            relevant information.
                        </div>
                        <button class="btn btn-primary request-button">Request</button>
                    </div>
                </div>


                <div class="campaign-card card">
                    <div class="card-header">
                        <div class="company-info">
                            <img src="assets/img/avatars/avatar5.jpeg" alt="Company Logo">
                            <div>
                                <strong>CompanyName</strong><br>
                                <small class="text-muted">CampaignName</small>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <img src="/assets/img/dogs/campaign.jpeg" alt="Campaign Image">
                    </div>
                    <div class="card-footer">
                        <div class="price-tag">$550</div>
                        <div class="campaign-details">
                            Campaign details go here, describing the campaign, its goals, and any other
                            relevant information.
                        </div>
                        <button class="btn btn-primary request-button">Request</button>
                    </div>
                </div> -->




            </div>

        </div>


</div>
{% endblock %}