{% extends "sponsor-base.html" %}

{% block title %} Find Influencers {% endblock %}
{% block active_dashboard %} {% endblock %}
{% block active_campaign %}{% endblock %}
{% block active_find %}active {% endblock %}
{% block active_stats %} {% endblock %}
{% block active_logout %} {% endblock %}
{% block main_header %} {% endblock %}


{% block content %}

<div class="container-fluid">
    <h3 class="text-dark mb-4">Find Campaigns and Influencers</h3>

    <!-- Active Campaigns -->
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3 mt-4">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Campaigns</p>
                </div>
                <div class="card-body">
                    {% if campaigns %}
                    {% for campaign in campaigns %}


                    <figure class="snip1527">

                        <div class="image"><img
                                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample23.jpg"
                                alt="pr-sample23" /></div>
                        <figcaption>
                            <div class="date"><span class="day">28</span><span class="month">Oct</span></div>
                            <h3>{{campaign.name}}</h3>

                            <p>
                                {{campaign.details}}
                            </p>
                            {% if campaign.sponsor == sponsor %}
                            <span class="badge bg-success">My Campaign</span>
                            {% endif %}

                        </figcaption>
                        <a href="/campaign/{{campaign.id}}/ad"></a>
                    </figure>
                    {% endfor %}
                    {% else %}

                    <p>No campaigns found</p>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>


    <!-- Influencers -->

    <div class="row">
        <div class="col">
            <div class="card shadow mb-3 mt-4">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">All Influencers</p>
                </div>
                <div class="card-body">
                    {% if influencers %}
                    {% for influencer in influencers %}

                    <figure class="snip1527">
                        <div class="image"><img
                                src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample23.jpg"
                                alt="pr-sample23" /></div>
                        <figcaption>
                            <div class="date"><span class="day">28</span><span class="month">Oct</span>
                            </div>
                            <h3>{{influencer.username}}</h3>
                            <p>
                                {{influencer.description_of_content}}
                            </p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                data-bs-target="#Modal{{influencer.id}}">
                                Request
                            </button>




                        </figcaption>
                    </figure>

                    <!-- Modal -->
                    <div class="modal fade" id="Modal{{influencer.id}}" tabindex="-1" aria-labelledby="ModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <form action="/request/{{influencer.id}}/{{sponsor.id}}" method="post">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Select Advertisement</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">

                                        <div class="form-group">
                                            <label for="campaign-select">Please select an ad for which you wish to
                                                request an influencer.</label>
                                            <select class="form-control custom-select" id="campaign-select" name="ad_id">
                                                {% if sponsor.campaigns %}
                                                {% for campaign in sponsor.campaigns %}
                                                    {% if campaign.ad_requests %}
                                                        {% for ad in campaign.ad_requests %}
                                                            {% if ad.status == "ongoing" %}
                                                                <option value="{{ad.id}}" disabled>{{campaign.name}} - {{ad.ad_name}} (Ongoing)</option>
                                                            {% else %}
                                                                <option value="{{ad.id}}">{{campaign.name}} - {{ad.ad_name}}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% else %}
                                                        <option disabled>No ads available for {{campaign.name}}.</option>
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                <option disabled>No campaigns available.</option>
                                            {% endif %}
                                            </select>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary btn-sm"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary btn-sm">Request</button>
                                    </div>
                            </form>
                        </div>
                    </div>
                </div>



                {% endfor %}
                {% else %}

                <p>No relevant influencers found</p>
                {% endif %}

            </div>
        </div>
    </div>
</div>

</div>



{% endblock %}