{% extends "sponsor-base.html" %}

{% block title %} Profile {% endblock %}
{% block active_dashboard %} {% endblock %}
{% block active_campaign %} {% endblock %}
{% block active_find %} {% endblock %}
{% block active_stats %} {% endblock %}
{% block active_logout %} {% endblock %}
{% block main_header %} {% endblock %}


{% block content %}


<div class="container-fluid">
    <h3 class="text-dark mb-4">Company Profile</h3>
    <div class="col">
        <div class="col">
            <div class="row ">
                <div class="col">
                    <div class="card mb-3 col">
                        <div class="card-body text-center shadow">
                            {% if sponsor.company_logo %}
                            <img class="rounded-circle mb-3 mt-4"
                                src="{{ url_for('static', filename='uploads/' + sponsor.company_logo) }}"
                                width="160" height="160" id="profileImage">
                            {% else %}
                            <img class="rounded-circle mb-3 mt-4"
                                src="{{ url_for('static', filename='img/dogs/image2.jpeg') }}"
                                width="160" height="160" id="profileImage">
                            {% endif %}
                            <p class="mt-2">{{ sponsor.company_name}}</p>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Company Information Card -->
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Company Information</p>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ sponsor.company_name }}</h5>
                        <p class="card-text">Industry: {{ sponsor.industry }}</p>
                        <p class="card-text">Description: {{ sponsor.company_description }}</p>
                        <a href="{{ sponsor.company_website }}" class="btn btn-primary">
                            <i class="fas fa-globe"></i> Visit Website
                        </a>
                    </div>
                </div>
            </div>


            <!-- Contact Information Card -->
            <div class="col">

                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Contact Information</p>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Contact Person: {{ sponsor.contact_person }}
                        </p>
                        <p class="card-text">Email: {{ sponsor.email }}</p>
                        <p class="card-text">Phone Number: {{ sponsor.contact_number }}</p>
                    </div>
                </div>
            </div>


            <!-- Campaigns by company -->
            <div class="col">
                <div class="card shadow mb-3">
                    <div class="card-header py-3">
                        <p class="text-primary m-0 fw-bold">Company Campaigns</p>
                    </div>

                </div>
            </div>



        </div>


    </div>
</div>



{% endblock %}