{% extends "influencer-base.html" %}

{% block title %} Prifile {% endblock %}
{% block active_dashboard %} active {% endblock %}
{% block active_campaign %} {% endblock %}
{% block active_find %} {% endblock %}
{% block active_stats %} {% endblock %}
{% block active_logout %} {% endblock %}
{% block main_header %} {% endblock %}


{% block content %}

<div class="container-fluid">
    <h3 class="text-dark mb-4">Profile</h3>
    <div class="col">
        <div class="col">
            <div class="row ">
                <div class="col">
                    <div class="card mb-3 col">
                        <div class="card-body text-center shadow">
                            {% if influencer.profile_picture %}
                            <img class="rounded-circle mb-3 mt-4"
                                src="{{ url_for('static', filename='uploads/' + influencer.profile_picture) }}"
                                width="160" height="160" id="profileImage">
                            {% else %}
                            <img class="rounded-circle mb-3 mt-4"
                                src="{{ url_for('static', filename='img/dogs/image2.jpeg') }}"
                                width="160" height="160" id="profileImage">
                            {% endif %}
                            <p class="mt-2">Username: {{ influencer.username }}</p>
                            <p class="mt-1">Email: {{ influencer.email }}</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow mb-3">
                        <div class="card-header py-3">
                            <h6 class="text-primary fw-bold m-0">Platform Statistics</h6>
                        </div>
                        <div class="card-body">
                            <h4 class="small fw-bold">Instagram Followers<span
                                    class="float-end">{{follower_percent.instagram}}%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-warning"
                                    aria-valuenow="{{follower_percent.instagram}}" aria-valuemin="0"
                                    aria-valuemax="100" style="width: {{follower_percent.instagram}}%;">
                                    <span class="visually-hidden">{{follower_percent.instagram}}%</span>
                                </div>
                            </div>
                            <h4 class="small fw-bold">Twitter Followers<span
                                    class="float-end">{{follower_percent.twitter}}%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-danger"
                                    aria-valuenow="{{follower_percent.twitter}}" aria-valuemin="0"
                                    aria-valuemax="100" style="width: {{follower_percent.twitter}}%;">
                                    <span class="visually-hidden">{{follower_percent.twitter}}%</span>
                                </div>
                            </div>
                            <h4 class="small fw-bold">YouTube Subscribers<span
                                    class="float-end">{{follower_percent.youtube}}%</span></h4>
                            <div class="progress mb-4">
                                <div class="progress-bar bg-info"
                                    aria-valuenow="{{follower_percent.youtube}}" aria-valuemin="0"
                                    aria-valuemax="100" style="width: {{follower_percent.youtube}}%;">
                                    <span class="visually-hidden">{{follower_percent.youtube}}%</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

    <!-- Pics  -->
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3 mt-4">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Posts</p>
                </div>
                <div class="card-body">
                    {% if influencer.posts|length > 0 %}
                    {% for post in influencer.posts %}
                    <figure class="snip1527">
                        <div class="image"><img
                                src="{{ url_for('static', filename='uploads/' + post.media) }}"
                                alt="pr-sample23" /></div>
                        <figcaption>
                            <div class="date"><span class="day">{{ post.created_at.strftime('%d')
                                    }}</span><span class="month">{{ post.created_at.strftime('%b')
                                    }}</span>
                            </div>
                            <h3>{{post.post}}</h3>
                            <p>

                                
                            </p>
                        </figcaption>
                    </figure>
                    <a href="#"></a>
                    {% endfor %}

                    {% else %}
                    <p>No posts available.</p>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <!-- Ads by Influencer -->
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3 mt-4">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Ads By {{influencer.username}}</p>
                </div>
                <div class="card-body">
                    {% if influencer.ad_requests|length > 0 %}
                    {% for ad in influencer.ad_requests %}
                    <figure class="snip1527">
                        <!-- Dynamically generated posts go here -->
                        <div class="image"><img
                            src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/pr-sample23.jpg"
                                alt="pr-sample23" /></div>
                        <figcaption>
                            <div class="date"><span class="day">{{ ad.created_at.strftime('%d')
                                    }}</span><span class="month">{{ ad.created_at.strftime('%b')
                                    }}</span>
                            </div>
                            <h3>{{ad.ad_name}}</h3>
                            <p>
                                {{ad.ad_description}}

                                
                            </p>
                        </figcaption>
                    </figure>
                    <a href="#"></a>
                    {% endfor %}

                    {% else %}
                    <p>No ads to show.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}