{% extends "sponsor-base.html" %}

{% block title %} Profile Settings {% endblock %}
{% block active_dashboard %} {% endblock %}
{% block active_campaign %} {% endblock %}
{% block active_find %} {% endblock %}
{% block active_stats %} {% endblock %}
{% block active_logout %} {% endblock %}
{% block main_header %} {% endblock %}


{% block content %}


<div class="container-fluid">
    <h3 class="text-dark mb-4">Profile Settings</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {{ messages[-1] }}
    {% endif %}
    {% endwith %}
    <div class="row mb-3">

        <div class="col-lg-8">

            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">Company Profile Settings</p>
                </div>
                <div class="card-body">
                    <form action="/sponsor/{{sponsor.id}}/profilesettings" method="post" enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="username"><strong>Company
                                            Name</strong></label><input class="form-control" type="text"
                                        value="{{sponsor.company_name}}" name="company_name"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label"
                                        for="username"><strong>Username</strong></label><input class="form-control"
                                        type="text" value="{{sponsor.username}}" name="username"></div>
                            </div>

                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="username"><strong>Contact
                                            Person</strong></label><input class="form-control" type="text"
                                        value="{{sponsor.contact_person}}" name="contact_person"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="email"><strong>Email
                                            Address</strong></label><input class="form-control" type="email" id="email"
                                        value="{{sponsor.email}}" name="email">
                                </div>
                            </div>
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="phone_number"><strong>Phone
                                            Number</strong></label><input class="form-control" type="text"
                                        id="phone_number" value="{{sponsor.contact_number}}" name="contact_number">
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <select class="form-control form-control-user rounded-pill" id="exampleIndustry"
                                name="industry">
                                <option value="{{sponsor.industry}}">{{sponsor.industry}}</option>
                                <option value="Technology">Technology</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Food & Beverage">Food & Beverage</option>
                                <option value="Health & Wellness">Health & Wellness</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="content_description"><strong>Company
                                    Description</strong></label>
                            <textarea class="form-control" id="content_description" placeholder="Enter description"
                                name="company_description">{{sponsor.company_description}}</textarea>
                        </div>
                        <div class="mb-3"><label class="form-label" for="portfolio_links"><strong>Company
                                    Website</strong></label><input class="form-control" type="text" id="portfolio_links"
                                value="{{sponsor.company_website}}" name="company_website"></div>
                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save
                                Settings</button></div>

                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="card-body text-center shadow" style="padding-bottom: 2rem;">
                {% if sponsor.company_logo %}
                <img class="rounded-circle mb-3 mt-4"
                    src="{{ url_for('static', filename='uploads/' + sponsor.company_logo) }}" width="160" height="160"
                    id="profileImage">
                {% else %}
                <img class="rounded-circle mb-3 mt-4" src="{{ url_for('static', filename='img/dogs/image2.jpeg') }}"
                    width="160" height="160" id="profileImage">
                {% endif %}

                <div class="mb-3">
                    <input type="file" name="company_logo" id="profilePhotoInput" style="display: none;"
                        onchange="document.getElementById('profileImage').src = window.URL.createObjectURL(this.files[0])">
                    <button class="btn btn-primary btn-sm" type="button"
                        onclick="document.getElementById('profilePhotoInput').click()">Change
                        Photo</button>
                    <!-- <div class="mb-3"><button class="btn btn-primary btn-sm mt-3" type="submit">Update profile pic</button></div> -->

                </div>
            </div>
        </div>
        </form>

    </div>

</div>




{% endblock %}