{% extends "influencer-base.html" %}

{% block title %} Dashboard {% endblock %}
{% block active_dashboard %} active {% endblock %}
{% block active_campaign %} {% endblock %}
{% block active_find %} {% endblock %}
{% block active_stats %} {% endblock %}
{% block active_logout %} {% endblock %}
{% block main_header %} {% endblock %}


{% block content %}



<div class="container-fluid">
    <h3 class="text-dark mb-4">Profile Settings</h3>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {{ messages[-1] }}
    {% endif %}
    {% endwith %}
    <div class="row mb-3">

        <div class="col-lg-8">

            <div class="card shadow mb-3">
                <div class="card-header py-3">
                    <p class="text-primary m-0 fw-bold">User Profile Settings</p>
                </div>
                <div class="card-body">
                    <form action="/influencer/{{influencer.id}}/profilesettings" method="post"
                        enctype="multipart/form-data">
                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label"
                                        for="username"><strong>Username</strong></label><input
                                        class="form-control" type="text" id="username"
                                        value="{{influencer.username}}" name="username"></div>
                            </div>
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="email"><strong>Email
                                            Address</strong></label><input class="form-control"
                                        type="email" id="email" value="{{influencer.email}}"
                                        name="email"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label"
                                        for="phone_number"><strong>Phone Number</strong></label><input
                                        class="form-control" type="text" id="phone_number"
                                        value="{{influencer.phone_number}}" name="phone_number"></div>
                            </div>
                            <div class="col">
                                <div class="mb-3"><label class="form-label" for="dob"><strong>Date of
                                            Birth</strong></label><input class="form-control"
                                        type="date" id="dob" name="dob"
                                        value="{{influencer.date_of_birth}}"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="mb-3"><label class="form-label"
                                        for="instagram_handle"><strong>Instagram
                                            Handle</strong></label><input class="form-control"
                                        type="text" id="instagram_handle"
                                        value="{{influencer.instagram_handle}}" name="instagram_handle">
                                </div>
                                <div class="mb-3"><label class="form-label"
                                        for="instagram_followers"><strong>Instagram Follower
                                            Count</strong></label><input class="form-control"
                                        type="number" id="instagram_followers"
                                        value="{{influencer.instagram_follower_count}}"
                                        name="instagram_followers"></div>
                            </div>
                            <div class="col">
                                <div class="mb-3"><label class="form-label"
                                        for="twitter_handle"><strong>Twitter
                                            Handle</strong></label><input class="form-control"
                                        type="text" id="twitter_handle"
                                        value="{{influencer.twitter_handle}}" name="twitter_handle">
                                </div>
                                <div class="mb-3"><label class="form-label"
                                        for="twitter_followers"><strong>Twitter Follower
                                            Count</strong></label><input class="form-control"
                                        type="number" id="twitter_followers"
                                        value="{{influencer.twitter_follower_count}}"
                                        name="twitter_followers"></div>
                            </div>
                        </div>
                        <div class="mb-3"><label class="form-label" for="youtube_link"><strong>YouTube
                                    Channel Link</strong></label><input class="form-control" type="text"
                                id="youtube_link" value="{{influencer.youtube_channel_link}}"
                                name="youtube_link"></div>
                        <div class="mb-3"><label class="form-label"
                                for="youtube_subscribers"><strong>YouTube Subscriber
                                    Count</strong></label><input class="form-control" type="number"
                                id="youtube_subscribers" value="{{influencer.youtube_subscriber_count}}"
                                name="youtube_subscribers"></div>
                        <div class="mb-3"><label class="form-label"
                                for="content_categories"><strong>Primary Content
                                    Categories/Niches</strong></label><input class="form-control"
                                type="text" id="content_categories"
                                value="{{influencer.primary_content_categories}}"
                                name="content_categories"></div>
                        <div class="mb-3">
                            <label class="form-label" for="content_description"><strong>Description of
                                    Content Style and Themes</strong></label>
                            <textarea class="form-control" id="content_description"
                                placeholder="Enter description"
                                name="content_description">{{influencer.description_of_content}}</textarea>
                        </div>
                        <div class="mb-3"><label class="form-label" for="portfolio_links"><strong>Links
                                    to Portfolio or Website</strong></label><input class="form-control"
                                type="text" id="portfolio_links"
                                value="{{influencer.links_to_portfolio_or_website}}"
                                name="portfolio_link"></div>
                        <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save
                                Settings</button></div>

                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="card-body text-center shadow" style="padding-bottom: 2rem;">
                {% if influencer.profile_picture %}
                <img class="rounded-circle mb-3 mt-4"
                    src="{{ url_for('static', filename='uploads/' + influencer.profile_picture) }}"
                    width="160" height="160" id="profileImage">
                {% else %}
                <img class="rounded-circle mb-3 mt-4"
                    src="{{ url_for('static', filename='img/dogs/image2.jpeg') }}" width="160"
                    height="160" id="profileImage">
                {% endif %}

                <div class="mb-3">
                    <input type="file" name="profile_picture" id="profilePhotoInput"
                        style="display: none;"
                        onchange="document.getElementById('profileImage').src = window.URL.createObjectURL(this.files[0])">
                    <button class="btn btn-primary btn-sm" type="button"
                        onclick="document.getElementById('profilePhotoInput').click()">Change
                        Photo</button>
                    <!-- <div class="mb-3"><button class="btn btn-primary btn-sm mt-3" type="submit">Update profile pic</button></div> -->

                </div>
            </div>
        </div>
        </form>




    </div>

    <!-- Pics  -->
    <div class="row">
        <div class="col">
            <div class="card shadow mb-3 mt-4">
                <div class="card-header py-3 d-flex justify-content-between align-items-center">
                    <p class="text-primary m-0 fw-bold">Pics</p>
                    <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal"
                        data-bs-target="#uploadModal"><i class="fas fa-upload"></i> Upload</button>
                </div>
                <div class="card-body">
                    {% if influencer.posts|length > 0 %}
                    {% for post in influencer.posts %}
                    <figure class="snip1527">
                        <!-- Dynamically generated posts go here -->
                        <div class="image"><img
                                src="{{ url_for('static', filename='uploads/' + post.media) }}"
                                alt="pr-sample23" /></div>
                        <figcaption>
                            <div class="date"><span class="day">{{ post.created_at.strftime('%d')
                                    }}</span><span class="month">{{ post.created_at.strftime('%b')
                                    }}</span>
                            </div>
                            <h3>{{post.post}}</h3>
                            <p>


                            </p>
                        </figcaption>
                    </figure>
                    <a href="#"></a>
                    {% endfor %}

                    {% else %}
                    <p>No posts available.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- Upload Modal -->
    <div class="modal fade" id="uploadModal" tabindex="-1" aria-labelledby="uploadModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadModalLabel">Upload Post</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Form for upload and caption -->
                    <form action="/upload/post/{{influencer.id}}" method="post"
                        enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="postFile" class="form-label">Select file</label>
                            <input class="form-control" type="file" id="postFile" name="media">
                        </div>
                        <div class="mb-3">
                            <label for="postCaption" class="form-label">Caption</label>
                            <textarea class="form-control" id="postCaption" rows="3"
                                name="post"></textarea>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary"
                        data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload Post</button>
                </div>
                </form>
            </div>
        </div>
    </div>


</div>
{% endblock %}